/* slideshow Dicono di noi */
.mySlides {display:none;
/*background-color: red;*/
position:absolute;
/*left:20%;
max-width:60%;*/
width: 100%;
height: 100%;
padding-bottom: 16%;
}

/*.mySlides_DUE {display:none;
background-color: green;
position:relative;
left:10%;
max-width:40%;
}*/

.dicono_di_noi {
	background: -webkit-linear-gradient(bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), 
	background-position: center center;
	background-repeat: no-repeat;
	text-align: center;
	position: relative;
	min-width: 80vw;		/*1 unità di misura si riferisce all'1% della dimensione*/
	height: 40vh;			/*della finestra in larghezza (vw) o in altezza (vh).   */
}

.dicono_di_noi i{ margin-bottom: 1em; }

.dicono_di_noi h3{
	font-family: "FuturaStd", sans-serif;
	font-weight: bold;
	font-size: 40px;
	line-height: 1.25em;		
	text-align: center;
	margin: 0 0 0.5em 0;
	padding: 1.5em 1.5em 0.5em 1.5em;
}



/* NUMSCROLL - Definisce lo stile del contatore numerico nella pagina */
.numscroll{
	padding: 4em 0 3em 0;
	text-align: center;
}

.numscroll .number{
	font-family: "FuturaStd", sans-serif;
	font-weight: bold;
	font-size: 75px;
	line-height: 1em;
	padding: 0.25em 0;
	color: #000;
	text-align: center;
	margin-top: 0;
	margin-bottom: auto;
}

.numscroll i{ margin-bottom: 1em; }

/* PARTNERS - Definisce la parte dei partner nella pagina */
.partners{
	padding: 4em 0 3em;
}

.accordion{
	width: 100%;
	max-width: 100vw;
	height: 250px;
	overflow: hidden;
	margin: 50px auto;
}

.accordion ul{
	width: 100%;
	display: table;
	table-layout: fixed;
	margin: 0;
	padding: 0;
}

.accordion ul li{
	display: table-cell;
	vertical-align: bottom;
	position: relative;
	width: 20%;
	height: 250px;
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: contain;
	        background-size: contain;
	-webkit-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
	-webkit-filter: gray;
	        filter: gray;
	filter: grayscale(1);
	-webkit-filter: grayscale(1);
}

.accordion ul li div{
	display: block;
	overflow: hidden;
	width: 80%;
}

.accordion ul li div a{
	display: block;
	height: 250px;
	width: 100%;
	position: relative;
	z-index: 3;
	vertical-align: bottom;
	padding: 15px 20px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	color: #fff;
	text-decoration: none;
	font-family: Open Sans, sans-serif;
	-webkit-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

.accordion ul li:nth-child(1) { background-image: url("https://www.jemp.it/images/home/partners/1.png"); }
.accordion ul li:nth-child(2) { background-image: url("https://www.jemp.it/images/home/partners/2.png"); }
.accordion ul li:nth-child(3) { background-image: url("https://www.jemp.it/images/home/partners/3.png"); }
.accordion ul li:nth-child(4) { background-image: url("https://www.jemp.it/images/home/partners/4.png"); }
.accordion ul li:nth-child(5) { background-image: url("https://www.jemp.it/images/home/partners/5.png"); }
.accordion ul li:nth-child(6) { background-image: url("https://www.jemp.it/images/home/partners/6.png"); }
.accordion ul li:nth-child(7) { background-image: url("https://www.jemp.it/images/home/partners/7.png"); }

.accordion ul:hover li { width: 8%; }

.accordion ul:hover li:hover{ 
	width: 14%;
	filter: none;
	-webkit-filter: grayscale(0); 
}

.accordion ul:hover li:hover a *{
	opacity: 1;
	-webkit-transform: translateX(0);
	-ms-transform: translateX(0);
	    transform: translateX(0);
}

@media screen and (max-width: 1023px) {
	.accordion { height: auto; }
	.accordion ul li,
	.accordion ul li:hover,
	.accordion ul:hover li,
	.accordion ul:hover li:hover{
		position: relative;
		display: table;
		table-layout: fixed;
		width: 100%;
		-webkit-transition: none;
		-o-transition: none;
		transition: none;
	}		
	.accordion ul li div a{	
		height: 150px;
	}		
	.accordion ul li{
		height: 150px;
		overflow: hidden;
	}
}

/* LA STORIA */
.eventi{
	padding: 4em 0 3em;
	position: relative;
}

.mouse{
	width: 90%;
	max-width: 90vw;
	height: 300px;
	overflow: hidden;
	margin: 50px auto;
	/*background-color: red;*/
	position: relative;
}

/*.mouse:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}*/

.content{
	position:absolute;
    height:90%; /* = 100% - 2*5% padding */
    width:90%; /* = 100% - 2*5% padding */
    padding: 5%;
	
	/*background-color: orange;*/
}

/*.quadrato p {
	text-align:center;
	vertical-align:middle;
	display:table;
	/*position: absolute;
    width: 100%;
    height: 100%;
	}*/

.table{
    display:table;
    width:100%;
    height:100%;
	vertical-align:middle;
}

.table-cell{
    display:table-cell;
    vertical-align:middle;
	text-align: center;
}

.storia{
    font-family: "FuturaStd", sans-serif;
	font-weight: 800;
	font-size: 16px;
	line-height: 1.75em;
	color: #000;
	text-align: center;
	margin: 0;
	-webkit-margin-before: 0;
	padding: 0;
}

.mouse ul{
	width: 100%;
	display: table;
	table-layout: fixed;
	margin: 0;
	padding: 0;
}



.quadrato{
	float:left;
	position: relative;
    width: 16%;
    padding-bottom: 16%; /* = width for a 1:1 aspect ratio */
    margin:1.75%;
    background-color: #ffd100;
	overflow:hidden;
	border:2px solid black;
	-webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
	/*padding: 4em 0 3em;
	background-color: aqua;
	width: 50%;
	position: relative;
}

.quadrato:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}*/  

.mouse ul{
	width: 100%;
	display: table;
	table-layout: fixed;
	margin: 0;
	padding: 0;
}

.mouse ul li{
	display: table-cell;
	position: relative;
	width: 20%;
	height: 250px;
	background-repeat: no-repeat;
	background-position: center center;
	/*-webkit-background-size: contain;
	        background-size: contain;
	-webkit-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
	/*-webkit-filter: gray;
	        filter: gray;
	filter: grayscale(1);
	-webkit-filter: grayscale(1);*/
}

.mouse ul li div{
	display: block;
	overflow: hidden;
	width: 100%;
}
	


/*.mouse ul li div a{
	display: block;
	height: 250px;
	width: 100%;
	position: relative;
	z-index: 3;
	vertical-align: bottom;
	padding: 15px 20px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	color: #fff;
	text-decoration: none;
	font-family: Open Sans, sans-serif;
	-webkit-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}*/

/*.mouse ul:hover li { width: 8%; }*/

/*.mouse ul:hover li:hover{ 
	width: 10%;
	filter: none;
	-webkit-filter: grayscale(0); 
}*/

/*.mouse ul:hover li:hover a *{
	opacity: 1;
	-webkit-transform: translateX(0);
	-ms-transform: translateX(0);
	    transform: translateX(0);
}*/

@media screen and (max-width: 1023px) {
	.mouse { width: 30%; height:auto }
	.mouse ul li,
	.mouse ul li:hover,
	.mouse ul:hover li,
	.mouse ul:hover li:hover{
		position: relative;
		display: table;
		table-layout: fixed;
		width: 100%;
		-webkit-transition: none;
		-o-transition: none;
		transition: none;
	}
	
@media screen and (max-width: 1023px) {
	.quadrato { width:100%; height: auto; }
	.quadrato ul li,
	.quadrato ul li:hover,
	.quadrato ul:hover li,
	.quadrato ul:hover li:hover{
		position: relative;
		display: table;
		table-layout: fixed;
		width: 100%;
		-webkit-transition: none;
		-o-transition: none;
		transition: none;
	}		
	
	.mouse ul li div a{	
		height: 150px;
	}		
	.mouse ul li{
		height: 150px;
		overflow: hidden;
	}
}